$circle-xl: 64rem;
$circle-lg: 56rem;
$circle-md: 48rem;
$circle-sm: 40rem;
$circle-xs: 32rem;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  z-index: 2;
  position: relative;
  border: solid 1.2rem rgba(165, 165, 165, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: $circle-xl;
  height: $circle-xl;
  border-radius: 50%;
  background: radial-gradient(rgba(255, 255, 255, .53) 15%, rgb(194, 170, 248));
}

@media only screen and (max-width: 992px) {
  .circle {
    width: $circle-lg;
    height: $circle-lg;
  }
}

@media only screen and (max-width: 768px) {
  .circle {
    width: $circle-md;
    height: $circle-md;
  }
}

@media only screen and (max-width: 576px) {
  .circle {
    width: $circle-sm;
    height: $circle-sm;
  }
}

@media only screen and (max-width: 320px) {
  .circle {
    width: $circle-xs;
    height: $circle-xs;
  }
}

.reflect {
  z-index: 5;
  border: none;
  background: none;
  display: block;

  &__lg-rect {
    width: 21.6%;
    height: 8.34%;
    position: absolute;
    top: 8.33%;
    left: 22.86%;
    transform: rotate(-24deg);
  }

  &__sm-rect {
    width: 15%;
    height: 5.82%;
    position: absolute;
    top: 22.4%;
    left: 8.1%;
    transform: rotate(-49deg);
  }

  &__crescent {
    width: 50%;
    height: 89%;
    position: absolute;
    top: 5.6%;
    right: 3.8%;
  }
}

.water__container {
  width: 91.7%;
  height: 91.7%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  .water-front {
    z-index: 4;
    position: absolute;
    top: 39.4%;
    left: -5px;
    animation: move-front-water 2s linear 0s infinite;
  }

  .water-back {
    z-index: 3;
    position: absolute;
    top: 39.4%;
    right: -5px;
    animation: move-back-water 2s linear 0s infinite;
  }
}

@keyframes move-front-water {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes move-back-water {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}


